.toc {
  @apply hidden;
  //@apply hidden;
  @screen xl {
    display: block;
    position: absolute;
    left: 110%;
    top: 0;
    bottom: 0;
    width: 250px;

    & > ul {
      position: sticky;
      top: 40%;
      //transform: translateY(-50%);
    }
  }

  &.overview,
  &:hover {
    .toc-list-item {
      @apply text-slate-400 #{!important};
    }
  }

  .toc-list-item {
    @apply text-transparent transition-colors;

    .item-value-node {
      display: flex;
      align-items: center;
      font-size: 12px;
      padding: 3px 0;
      transition: all 0.15s;

      &:before {
        @apply bg-slate-200 transition-colors;

        content: "";
        display: block;
        flex-shrink: 0;
        height: 4px;
        border-radius: 4px;
      }
    }

    &.active > .item-value-node {
      @apply text-slate-400;

      &:before {
        @apply bg-slate-400;
      }
    }

    .item-value-node:hover {
      &:before {
        @apply bg-slate-400;
      }

      @apply text-slate-600;
    }
  }

  // 控制第一级标题样式（第一级可能是 H1 也可能是 H2...）
  & > ul > li > .item-value-node {
    font-weight: 600;

    &:before {
      width: 16px;
      margin-right: 10px;
    }
  }

  // 第二级及之后的样式
  & > ul > li li .item-value-node {
    font-weight: 400;

    &:before {
      width: 10px;
      margin-right: 24px;
    }
  }

  // 第二级之后的间距
  & > ul > li ul {
    //padding-left: 5px;
  }
}
