

// DocSearch Style
:root {
  --docsearch-primary-color: #232222 !important;
  --docsearch-text-color: #404040 !important;
  //--docsearch-primary-color: #e54d42 !important;
  //--docsearch-text-color: #e54d42 !important;
}

// 搜索结果页
.DocSearch.DocSearch-Container {
  @apply fixed;

  .DocSearch-NoResults {
    .DocSearch-Screen-Icon {
      @apply flex justify-center;
    }

    .DocSearch-Title {
      @apply mt-5 mb-10 break-words md:text-gray-400 dark:text-white/70;
    }
  }
}

.DocSearch-Button-Container {
  //background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIzIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgYXJpYS1oaWRkZW49InRydWUiPgogIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTIxIDIxbC01LjE5Ny01LjE5N20wIDBBNy41IDcuNSAwIDEwNS4xOTYgNS4xOTZhNy41IDcuNSAwIDAwMTAuNjA3IDEwLjYwN3oiPjwvcGF0aD4KPC9zdmc+");
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBzdHJva2U9IiM5Y2EzYWYiIHN0cm9rZS13aWR0aD0iMiIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTIxIDIxbC01LjE5Ny01LjE5N20wIDBBNy41IDcuNSAwIDEwNS4xOTYgNS4xOTZhNy41IDcuNSAwIDAwMTAuNjA3IDEwLjYwN3oiPjwvcGF0aD48L3N2Zz4=");
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    @apply h-[18px] w-[18px]
  }
  & > svg {
    opacity: 0;
    width: 25px !important;
  }
}

.dark .DocSearch-Button-Container {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBzdHJva2U9IiNlYmViZWI5OSIgc3Ryb2tlLXdpZHRoPSIyIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMjEgMjFsLTUuMTk3LTUuMTk3bTAgMEE3LjUgNy41IDAgMTA1LjE5NiA1LjE5NmE3LjUgNy41IDAgMDAxMC42MDcgMTAuNjA3eiI+PC9wYXRoPjwvc3ZnPg==") !important;
}

.dark .DocSearch {
  --docsearch-modal-background: #232222;
  --docsearch-modal-shadow: #171514;

  --docsearch-footer-background: #1c1c1c;
  --docsearch-footer-shadow: #171514;

  --docsearch-searchbox-focus-background: rgba(238,240,244,.1);
  --docsearch-searchbox-shadow: transparent;

  --docsearch-highlight-color: #007ACC;
  --docsearch-text-color: rgba(255, 255, 255, .87);

  --docsearch-hit-background: rgba(238,240,244,.1);
  --docsearch-hit-shadow: transparent;
  --docsearch-hit-color: rgba(255, 255, 255, .8);
  --docsearch-muted-color: rgba(255, 255, 255, .45);

  --docsearch-key-gradient: transparent;
  --docsearch-key-shadow: transparent;

  .DocSearch-MagnifierLabel {
    color: rgba(255, 255, 255, .87);
  }

  .DocSearch-Hit[aria-selected=true] a {
    background: #525252;
  }
  .DocSearch-Logo svg {
    opacity: 0.7;
  }
}

#blog-search {
  // 按钮外观
  --docsearch-searchbox-background: transparent;
  --docsearch-searchbox-focus-background: transparent;

  .DocSearch-Button {
    @apply m-0 shadow-none text-gray-400 dark:text-[#ebebeb]/60 dark:hover:text-white hover:text-gray-500 transition;

    .DocSearch-Search-Icon {
      width: 15px;
      height: 15px;
    }
    .DocSearch-Button-Placeholder {
      font-size: 14px;
    }

    .DocSearch-Search-Icon {
      @apply text-gray-400 dark:text-[#ebebeb]/60 transition;
    }

    .DocSearch-Button-Keys {
      @apply opacity-60 transition space-x-1 border border-gray-400 dark:border-[#ebebeb]/60 border-[1.5px] min-w-0 rounded px-1.5 box-content;
      height: 22px;
      line-height: 22px;

      .DocSearch-Button-Key {
        @apply text-gray-500 transition dark:text-[#ebebeb]/60;
        font-size: 12px;
        font-family: inherit;
        background: none;
        box-shadow: none;
        width: auto;
        height: 22px;
        line-height: 22px;
        padding: 0;
        margin: 0;
        top: 0;
      }
    }

    &:hover {
      //@apply bg-none;
      background: none !important;
      .DocSearch-Search-Icon {
        @apply text-gray-500 dark:text-white;
      }
      .DocSearch-Button-Keys {
        @apply opacity-100;
      }
    }
  }
}
